.login-container
    height: 100dvh
    display: flex
    background-image: linear-gradient(rgba(114, 153, 185, 0.801), rgba(229, 239, 245, 0.993)),url('/images/1.jpg')
    background-repeat: no-repeat
    background-size: cover
    // background-color: rgb(93, 140, 221)

.login-fields
    display: flex
    flex-direction: column
    //margin: 20px
    width: 90%
    gap: 10px

.login-card
    margin: auto
    width: 440px
    height: 440px
    background: white
    border-radius: 5px
    box-shadow: 0.1px 0.1px 3px  black
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 50px
    

    