.frontdesk-header
    background: red
    height: 80px

.frontdesk-container
    min-height: 100dvh

.frontdesk-screening
    //background: red
    display: flex
    justify-content: center
    gap: 30px
    & input
        width: 80%
    & button
        font-size: 1.1rem
        border: 1px solid transparent
        box-shadow: 1px 1px 8px grey
        transition: all 0.5s ease
        &:hover
            border-radius: 10px
            border: 1px solid grey
            background: #dbdbdb